In [2]:
import pandas as pd
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB, GaussianNB
from sklearn.metrics import accuracy_score
import seaborn as sns
import string
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
dset = pd.read_csv("spam.csv")
dset.head(8)

  Class                                            Message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...
5  spam  FreeMsg Hey there darling it's been 3 week's n...
6   ham  Even my brother is not like to speak with me. ...
7   ham  As per your request 'Melle Melle (Oru Minnamin...

In [4]:
dinfo=dset.info()
dinfo

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Class    5572 non-null   object
 1   Message  5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [5]:
dset.describe()

       Class                 Message
count   5572                    5572
unique     2                    5157
top      ham  Sorry, I'll call later
freq    4825                      30

In [6]:
dset['Length'] = dset['Message'].apply(len)

In [7]:
dset.head(8)

  Class                                            Message  Length
0   ham  Go until jurong point, crazy.. Available only ...     111
1   ham                      Ok lar... Joking wif u oni...      29
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155
3   ham  U dun say so early hor... U c already then say...      49
4   ham  Nah I don't think he goes to usf, he lives aro...      61
5  spam  FreeMsg Hey there darling it's been 3 week's n...     147
6   ham  Even my brother is not like to speak with me. ...      77
7   ham  As per your request 'Melle Melle (Oru Minnamin...     160

In [8]:
dset.groupby('Class').count()

       Message  Length
Class
ham       4825    4825
spam       747     747

In [9]:
dset['Length'].describe()

count    5572.000000
mean       80.368988
std        59.926946
min         2.000000
25%        35.750000
50%        61.000000
75%       122.000000
max       910.000000
Name: Length, dtype: float64

In [10]:
dset[dset['Length']==910]['Message'].iloc[0]

"For me the love should start with attraction.i should feel that I need her every time around me.she should be the first thing which comes in my thoughts.I would start the day and end it with her.she should be there every time I dream.love will be then when my every breath has her name.my life should happen around her.my life will be named to her.I would cry for her.will give all my happiness and take all her sorrows.I will be ready to fight with anyone for her.I will be in love when I will be doing the craziest things for her.love will be when I don't have to proove anyone that my girl is the most beautiful lady on the whole planet.I will always be singing praises for her.love will be when I start up making chicken curry and end up makiing sambar.life will be the most beautiful then.will get every morning and thank god for the day because she is with me.I would like to say a lot..will tell later.."

In [11]:
dObject = dset['Class'].values
dObject

array(['ham', 'ham', 'spam', ..., 'ham', 'ham', 'ham'], dtype=object)

In [12]:
dset.loc[dset['Class']=="ham","Class"] = 1

In [13]:
dset.loc[dset['Class']=="spam","Class"] = 0

In [14]:
dObject2=dset['Class'].values
dObject2

array([1, 1, 0, ..., 1, 1, 1], dtype=object)

In [15]:
dset.head(8)

  Class                                            Message  Length
0     1  Go until jurong point, crazy.. Available only ...     111
1     1                      Ok lar... Joking wif u oni...      29
2     0  Free entry in 2 a wkly comp to win FA Cup fina...     155
3     1  U dun say so early hor... U c already then say...      49
4     1  Nah I don't think he goes to usf, he lives aro...      61
5     0  FreeMsg Hey there darling it's been 3 week's n...     147
6     1  Even my brother is not like to speak with me. ...      77
7     1  As per your request 'Melle Melle (Oru Minnamin...     160

In [16]:
#clean message from punctuations
def cleanMessage(message):
    nonPunc = [char for char in message if char not in string.punctuation]
    nonPunc = "".join(nonPunc)
    return nonPunc

In [17]:
dset['Message'] = dset['Message'].apply(cleanMessage)

In [18]:
dset.head(8)

  Class                                            Message  Length
0     1  Go until jurong point crazy Available only in ...     111
1     1                            Ok lar Joking wif u oni      29
2     0  Free entry in 2 a wkly comp to win FA Cup fina...     155
3     1        U dun say so early hor U c already then say      49
4     1  Nah I dont think he goes to usf he lives aroun...      61
5     0  FreeMsg Hey there darling its been 3 weeks now...     147
6     1  Even my brother is not like to speak with me T...      77
7     1  As per your request Melle Melle Oru Minnaminun...     160

In [19]:
CV = CountVectorizer()

In [20]:
x = dset.loc[:,"Message"]
y = dset.loc[:,'Class']

In [21]:
dset.shape

(5572, 3)

In [22]:
x_train,y_train = x.iloc[0:4457],y.iloc[0:4457] # we used 80% data for traning 
x_test,y_test = x.iloc[4457:],y.iloc[4457:]  # remaining 20% for testing

In [23]:
xSet_train_CV = CV.fit_transform(x_train)

In [24]:
y_train=y_train.astype('int')

In [25]:
NB = MultinomialNB()

In [26]:
NB.fit(xSet_train_CV,y_train)

MultinomialNB()

In [27]:
y_test=y_test.astype('int')

In [28]:
feature_test =CV.transform(x_test)
print('Accuracy of the model is:', NB.score(feature_test,y_test))

Accuracy of the model is: 0.9820627802690582

In [38]:
msg = input("Enter Message: ")
msgInput = CV.transform([msg])
predict = NB.predict(msgInput)

Enter Message: hey

In [39]:
import pickle
pickle.dump(NB, open('model.pkl','wb'))
pickle.dump(CV,open('transform.pkl','wb'))